<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.itheima.mapper.CustomerMapper">
  
	<select id="findCustomerByNameAndJobs" parameterType="com.itheima.po.Customer" 
										   resultType="com.itheima.po.Customer"> 
		seletc * from t_customer 
		<!-- 
			<where>
				<if test="username !=null and username !='' "> 
			and username like concat('%',#{username},'%') 
		</if>
		 <if test="jobs !=null and jobs !='' "> 
			and jobs= #{jobs} 
		</if> 
		</where> 
		 -->
		<trim prefix="where" prefixOverrides="and">
					<if test="username !=null and username !='' "> 
			and username like concat('%',#{username},'%') 
		</if>
		 <if test="jobs !=null and jobs !='' "> 
			and jobs= #{jobs} 
		</if>
		</trim>
	
	</select>
	
	<select id="findCustomerByNameOrJobs" parameterType="com.itheima.po.Customer"    resultType="com.itheima.po.Customer">
		select * from t_customer where 1=1 
		<choose>
			<when test="username !=null and username != '' ">
				and username like concat('%',#{username},'%')
			</when>
			<when test="jobs !=null and jobs !=''">
				and jobs=#{jobs}
			</when>
			<otherwise>
				and phone is not null
			</otherwise>
		</choose>
	</select>
	
	<update id="updateCustomer" parameterType="com.itheima.po.Customer"    >
			update t_customer 
			<set>
				<if test="username !=null and username !='' ">
					username=#{username},
				</if> 
				<if test="jobs !=null and jobs != '' " >
					jobs=#{jobs},
				</if>
				<if test="phone !=null and phone != '' ">
					phone=#{phone},
				</if>
				
			</set>
			where id=#{id}
	</update>
	
	<select id="findCustomerByIds" parameterType="List"    resultType="com.itheima.po.Customer">
		select * from t_customer where id in
		<foreach item="id" index="index" collection="list" open="(" separator="," close=")" >
			#{id}
		</foreach>
		
	</select>
	
	<select id="findCustomerByName" parameterType="com.itheima.po.Customer"    resultType="com.itheima.po.Customer">
		<bind name="pattern_username" value="'%'+_parameter.getUsername()+'%' " />
		
		select * from t_customer 
		where
		username like #{pattern_username}
		 
	</select>
	
  	
  </mapper>